.main-bg {
    background-image: url('../img/scattered-forcefields.svg');
    background-size: cover;
    /* Reajusta a imagem no centro quando o viewport é diminuido */
    background-position: center center;
    color: var(--white-color); /*Quando usar os esses backgrounds o texto ficará branco */

}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
    

}



.section {
    min-height: 100vh; /*Deixa a altura minima da pagina do tamanho da vieport */
}

.menu-spacing {
    height: 6.5rem;
}

/*Deixando os campos do input com 100% de largura */
body .full-width {
    flex: 1 1 100%;
}

