.menu {

    position: fixed; /*Faz com que o conteudo seja rolado junto da pagina */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color); /*coloca uma bordinha embaixo do menu */
    z-index: 1;
}

.menu-content { 
    display: flex;
    justify-content: space-between;
    align-items: center; /*alinhando entre o topo e o bottom */
    padding-bottom: 0;
    padding-top: 0;

}

.menu ul {
    list-style: none;
    display: flex;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a{
    color: var(--primary-color);
}


.menu nav ul a {
     /*Herdando a cor da classe pai*/
     color: var(--primary-color);
    
}
a {
    text-decoration: none;
    
}



.menu ul li a{
    display: block; 
    padding: 2rem;
    font-size: 1.8rem;
    position: relative; /* Definindo a position: relative para funcionar o ::after */
}

/*Criando um efeito de transição que coloca um linha em baixo ao passar o mouse */
.menu ul li a::after {
    content: ''; /*Adiciona um conteudo vazio */
    position: absolute; 
    bottom: 1.0rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;

}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}