:root {
    --primary-color: #0A1128; /*Criando uma variavel com o nome --primary-color*/
    --white-color: #ffffff;
    --gap: 3rem;
    --light-gray-color: #EEE;
    --secondary-color: crimson;
}
